<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card-group">
                  <div class="card p-4">
                      <div class="card-body">

                          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                              <h1>Login</h1>
                              <p class="text-medium-emphasis">Sign In to your account</p>

                              <div class="input-group mb-3">
                                  <span class="input-group-text">
                                      <!-- your SVG icon here -->
                                  </span>
                                  <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
                                  
                                  <div *ngIf="loginForm.get('email').errors && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                      <p class="error-message" *ngIf="loginForm.get('email').errors.required">Email is required.</p>
                                      <p class="error-message" *ngIf="loginForm.get('email').errors.email">Email is not valid.</p>
                                  </div>
                              </div>

                              <div class="input-group mb-4">
                                  <span class="input-group-text">
                                      <!-- your SVG icon here -->
                                  </span>
                                  <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                  
                                  <div *ngIf="loginForm.get('password').errors && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                      <p class="error-message" *ngIf="loginForm.get('password').errors.required">Password is required.</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-xs-6">
                                      <button type="submit" class="btn btn-primary px-4" [disabled]="!loginForm.valid">Login</button>
                                  </div>
                                  <div class="col-xs-6 text-right">
                                      <button class="btn btn-link px-0">
                                          Forgot password?
                                      </button>
                                  </div>
                              </div>
                          </form>

                          
                      </div>
                  </div>
                  <div class="card text-white bg-primary py-5" style="width: 44%;">
                      <div class="card-body text-center">
                          <div>
                              <h2>Sign up</h2>
                              <p>
                                  If your organization has not yet been registered, you can do so through our registration form
                              </p>
                              <button class="btn btn-primary mt-3" routerLink="/registration">
                                  Register Now!
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
